.Homepage {
  text-align: center;

  .Homepage-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;

    .call-to-action {
      font-size: 55px;
      font-weight: 500;
    }

    .spofity-login-btn {
      color: #fff;
      background-color: #1db954;
      border: none;
      border-radius: 5px;
      width: 300px;
      height: 50px;
      font-size: 18px;
      margin-top: 40px;
      line-height: 0;

      &:hover {
        color: #fff;
        background-color: #1ed760;
      }

      &:focus {
        border-color: #1ed760;
      }

      .button-items {
        display: flex;
        align-items: center;

        .spotify-icon {
          color: white;
          margin-right: 10px;
        }
      }
    }

    .description {
      margin-top: 120px;
      font-size: 12px;
      background-color: #f7f7f7;
      border-radius: 5px;
      padding: 15px;
      width: 60%;
    }
  }
}

/* 
  Low resolution tablets, mobiles
  */

@media (min-width: 481px) and (max-width: 767px) {
  .Homepage {
    .Homepage-container {
      .call-to-action {
        font-size: 45px;
      }
      .description {
        margin-top: 80px;
        width: 80%;
      }
    }
  }
}

/* 
  Most of the smartphones, mobiles
  */

@media (min-width: 320px) and (max-width: 480px) {
  .Homepage {
    .Homepage-container {
      .call-to-action {
        font-size: 35px;
      }
      .description {
        margin-top: 70px;
        width: 80%;
      }
    }
  }
}
