@import "~antd/dist/antd.css";

* {
  box-sizing: border-box;
}

.Main-container {
  padding: 20px 170px;

  a {
    color: #5466ba;

    &:hover {
      color: #7786c9;
    }
  }
}

/* 
  Tablets, ipads
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .Main-container {
    padding: 40px 45px;
  }
}

/* 
  Low resolution tablets, mobiles
  */

@media (min-width: 481px) and (max-width: 767px) {
  .Main-container {
    padding: 30px 30px;
  }
}

/* 
  Most of the smartphones, mobiles
  */

@media (min-width: 320px) and (max-width: 480px) {
  .Main-container {
    padding: 20px 15px;
  }
}
