.Homepage-container {
  .call-to-action {
    margin-bottom: 40px;
    font-size: 45px;
  }

  .spofity-login-btn {
    color: #fff;
    background-color: #1db954;
    border: none;
    border-radius: 50px;
    width: 280px;
    height: 45px;
    font-size: 19px;

    &:hover {
      color: #fff;
      background-color: #1ed760;
    }

    &:focus {
      border-color: #1ed760;
    }
  }
}
