.Homepage {
  text-align: center;
}

.Homepage-container {
  background-color: #fff;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #444;
}

.Days-passed-container {
  position: fixed;
  bottom: 40px;
  font-style: italic;
  font-size: 14px;
}