.Homepage {
  text-align: center;

  .Homepage-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #444;

    .call-to-action {
      margin-top: 80px;
      font-size: 55px;
      font-weight: 500;
    }

    .spofity-login-btn {
      color: #fff;
      background-color: #1db954;
      border: none;
      border-radius: 5px;
      width: 300px;
      height: 50px;
      font-size: 22px;
      margin-top: 40px;

      &:hover {
        color: #fff;
        background-color: #1ed760;
      }

      &:focus {
        border-color: #1ed760;
      }
    }

    .description {
      margin-top: 120px;
      font-size: 12px;
      background-color: #f7f7f7;
      border-radius: 5px;
      padding: 15px;
      width: 60%;
    }

    .Days-passed-container {
      font-style: italic;
      font-size: 14px;
      margin-top: 60px;
    }
  }
}

/* 
  Tablets, ipads
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .Homepage {
    .Homepage-container {
      .call-to-action {
        margin-top: 60px;
        font-size: 55px;
      }
      .description {
        margin-top: 90px;
      }
    }
  }
}

/* 
  Low resolution tablets, mobiles
  */

@media (min-width: 481px) and (max-width: 767px) {
  .Homepage {
    .Homepage-container {
      .call-to-action {
        margin-top: 50px;
        font-size: 45px;
      }
      .description {
        margin-top: 80px;
        width: 80%;
      }
    }
  }
}

/* 
  Most of the smartphones, mobiles
  */

@media (min-width: 320px) and (max-width: 480px) {
  .Homepage {
    .Homepage-container {
      .call-to-action {
        margin-top: 40px;
        font-size: 35px;
      }
      .description {
        margin-top: 70px;
        width: 80%;
      }
    }
  }
}
