.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f7f7f7;
  background-color: #fff;
  overflow: hidden;

  .Main-footer-container {
    display: flex;
    height: 70px;
    max-height: 80px;
    padding: 20px 170px;
    align-items: center;

    a {
      color: #5466ba;

      &:hover {
        color: #7786c9;
      }
    }

    .left-wrapper {
      flex: 1;
      text-align: left;

      .days-passed-container {
        font-size: 13px;
      }
    }

    .right-wrapper {
      flex: 1;
      text-align: right;
      font-style: italic;
    }
  }
}

/* 
  Tablets, ipads
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    .Main-footer-container {
      padding: 0 45px;
    }
  }
}

/* 
Low resolution tablets, mobiles
*/

@media (min-width: 481px) and (max-width: 767px) {
  .footer {
    .Main-footer-container {
      padding: 0 30px;
    }
  }
}

/* 
Most of the smartphones, mobiles
*/

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    .Main-footer-container {
      padding: 0 15px;
    }
  }
}
