$base-color: #5466ba;
$base-color-hover: #7786c9;
$bg-color: #fff;

.footer-container {
  align-items: center;
  background-color: $bg-color;
  bottom: 0;
  display: flex;
  height: 60px;
  left: 0;
  max-height: 70px;
  overflow: hidden;
  padding: 30px 170px;
  position: fixed;
  width: 100%;

  a {
    color: $base-color;

    &:hover {
      color: $base-color-hover;
    }
  }

  .left-wrapper {
    flex: 2;
    text-align: left;

    .days-passed-container {
      font-size: 13px;
    }
  }

  .right-wrapper {
    flex: 1;
    font-style: italic;
    text-align: right;
  }
}

/* 
  Tablets, ipads
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    padding: 0 45px;
  }
}

/* 
Low resolution tablets, mobiles
*/

@media (min-width: 481px) and (max-width: 767px) {
  .footer-container {
    padding: 0 30px;
  }
}

/* 
Most of the smartphones, mobiles
*/

@media (min-width: 320px) and (max-width: 480px) {
  .footer-container {
    padding: 0 15px;
  }
}
