$base-color: #5466ba;
$bg-color: #fff;
$white-color: #fff;

.header-container {
  align-items: center;
  background: $bg-color;
  display: flex;
  flex-grow: 1;
  height: 70px;
  max-width: 100%;
  padding: 0 170px;
  position: relative;
  z-index: 10;

  .logo-wrapper {
    flex: 1;
    margin-top: -4px;
    font-size: 30px;
    font-weight: bold;
    line-height: 0;
    color: $base-color;
  }

  .user-wrapper {
    flex: 1;
    text-align: right;

    .add-post-btn {
      background-color: $base-color;
      border: none;
      border-radius: 5px;
      color: $white-color;
      padding: 0px 20px;
      margin-right: 15px;
    }
  }

  a {
    color: $base-color;

    &:hover {
      color: $base-color;
    }
  }
}

/* 
  Tablets, ipads
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    padding: 0 45px;
  }
}

/* 
  Low resolution tablets, mobiles
*/

@media (min-width: 481px) and (max-width: 767px) {
  .header-container {
    padding: 0 30px;
  }
}

/* 
  Most of the smartphones, mobiles
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header-container {
    padding: 0 15px;
  }
}
