.people-card-container {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 30px 10px;
    width: 100%;
    margin-right: 10px;
    
    .people-list {
        list-style: none;
        padding-left: 10px;;
    }
}